body {
    /* background: linear-gradient(to top,  #0077B6, #03045E);  */
    /*background:#03045E !important;*/
    background: #CAF0F8 !important;
    /*, , #00B4D8 */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;


}

.formulario {
    background-color: #90E0EFCF; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}

 h4, h2, h3, h5, input, select, textarea {

    color: #0077B6 !important;
    
}

label {
    color: #00B4D8;
}


.titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

/*
h4, h5, h3 {
    text-decoration: underline;
} */
